.filter {
    position: absolute;
    padding: 23px 23px 3px 23px;
    border: 1px solid #C4C4C4;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 1000;
}
.filter_checkbox-block {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.filter_checkbox-column {
    display: flex;
    flex-direction: column;
}
.filter_checkbox-column-item {
    margin-bottom: 20px !important;
    /* background-color: #2097F5 !important; */
}
.filter_button-block {
    display: flex;
    justify-content: space-between;
    margin: 7px 0px 17px 0;
}
.filter_button-block-btn  {
    padding: 9px 15px;
    background-color: #2097F5;
    font-weight: 700;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}
.filter_button-block-btn--reset {
    background-color: inherit;
    border: 1px solid #2097F5;
    color: #2097F5;
    font-weight: 400;
}

.filter-orders {
    display: flex;
    right: 150px;
}
.filter_block {
    margin-bottom: 20px;
    display: grid;
    /* align-items: start; */
    align-content: start;
    grid-template-columns: 100%;
    /* grid-template-rows: 50% 50%; */
    align-items: stretch;
    gap: 10px 0;
}
.filter_date {
    margin: 0 !important;
    width: 325px;
    height: 36px;
    padding: 0 10px;
    display: flex;

    font-size: 16px;
    color: #000;
    border: 1px solid #C4C4C4;
    border-radius: 8px;
    font-family: AvenirNext;
    outline: none;
}