.users_wrapper  {
}

.users {
    padding: 0.8rem 1rem;
    width: 100% !important;

    border-radius: 8px 8px 0 0;
    background-color: #fff;
    box-sizing: border-box;
}

.users_header {
    height: 2.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.title {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: black;
}

.users_filter {
    margin-right: 1.2rem;
    padding: 13px;
    width: 182px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #DAEDFF;
    font-size: 18px;
    color: #2097F5;
    border: 2px solid #2097F5;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;     
}

.filter_counter {
    width: 23px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 13px;
    color: #fff;
    border-radius: 50%;
    background-color: #2097F5;
}

.table_input {
    padding: 13px !important;
    width: 20rem;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 8px !important;
    box-sizing: border-box;
}

.input_text {
    margin-right: 5px;
    width: 100%;
    border: none;
    color: #555E63;
    font-size: 18px;
    outline: none;
}


/* --- PAGINATION --- */
.pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.pagination_text {
    margin-right: 1rem;
    font-size: 1.2rem;
}

.pagination_page {
    min-width: 37px;
    min-height: 37px;
    margin: 0 1px;
    padding: 7px;
    display: flex;
    /* align-items: center; */
    justify-content: center;

    font-size: 18px !important;
    font-weight: 500;
    color: #555E63;
    background-color: #fff;
    border: none;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    cursor: pointer;
    box-sizing: border-box;
}
.pagination_page:hover {
    box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
}

.pagination_page--next {
    min-width: 37px;
    min-height: 37px;
    margin-left: 5px;
}

.pagination_page--prev {
    min-width: 37px;
    min-height: 37px;
    margin-right: 5px;
}
.active {
    border: none;
    background-color: #2097F5;
    color: #fff;
}