.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 0 0 8px 8px;
    background-color: #fff;
    /* border-spacing: 10px !important; */
}

.table_head {
    height: 3rem;
    background-color: #F4F4F4;
}

.table-body_img {
    margin-right: 10px;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.no-img_table {
    margin-right: 10px;
    vertical-align: middle;
    font-size: 30px;
}

.table_title {
    padding: 0 !important;
    width: 100%;
    display: flex;
    align-items: center;

    color: #555E63;
    font-size: 1rem;

    border: none;
    background-color: inherit;
    cursor: pointer;
    transition: .2s linear;
    font-family: AvenirNext;
}

.table_title:hover {
    color: #2097F5;
}
.table-body_item--middle {
    vertical-align: middle !important;
    text-align: center;
}
.table_body {
    border-bottom: 1px solid #c4c4c4;
}

.table_body:last-child
{
    border: none;
}

.table-body_item {
    font-size: 0.9rem;
    height: 3rem;
}
.no-data {
    color: #ABABAB;
}

.table_cards {
    width: 100%;
    /* height: 120px; */
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.table_cards-item {
    margin-right: 10px;
    width: 200px auto;
    height: 120px;
    padding: 18px;
    display: flex;
    justify-content: space-between;

    background-color: #fff;
    border-radius: 8px;
    box-sizing: border-box;
}

.table_cards-card-count {
    font-size: 1.4rem !important;
}
.table_cards-card-img {
    width: 50px;
}
.table_cards-item-block--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.no-data_table {
    height: 80px;
    text-align: center;
    font-size: 18px;

    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.no-data_table-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  