.orders_wrapper {
    width: 1200px;
}
.table_body_item-status {
    width: 90%;
    text-align: center;
    padding: 10px 6px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 12px;
    box-sizing: border-box;
}

.table_body_item-status--paid {
    background-color: #2097F5;
    color: #fff;
}

.table_body_item-status--expired {
    background-color: #E9E9E9;
    color: #F05050;
}

.table_body_item-status--owner-reservations {
    background-color: rgb(0, 67, 94);
    color: #fff;
}

.table_body_item-status--waiting {
    background-color: #FCE25A;
    color: #000;
}

.table_body_item-status--cancelled {
    background-color: #F05050;
    color: #fff;
}
